# Requirements for kohya_ss/sd-scripts
accelerate
# transformers version is depends on Stable Diffusion WebUI, need to be ajusted
transformers==4.32.1
diffusers[torch]
ftfy
opencv-python
einops==0.7.0
pytorch-lightning
bitsandbytes
prodigyopt
lion-pytorch
tensorboard
safetensors
altair
easygui
toml
voluptuous
huggingface-hub

# for Image utils
imagesize

# For logging
rich

# for kohya_ss library
-e .
