# Requirements for kohya_ss/sd-scripts
accelerate
transformers>=4.31.0
diffusers[torch]
ftfy
opencv-python
einops==0.7.0
pytorch-lightning
bitsandbytes
prodigyopt
lion-pytorch
tensorboard
safetensors
altair
easygui
toml
voluptuous
huggingface-hub

# for Image utils
imagesize

# For logging
rich

# for kohya_ss library
-e .
